@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=981FF612-0412-4834-914B-FB4046C7A9EF
npmScopes:
fortawesome:
  npmAlwaysAuth: true
  npmRegistryServer: "https://npm.fontawesome.com/"
  npmAuthToken: "981FF612-0412-4834-914B-FB4046C7A9EF"